<#
    Session["ResourceFile"] = "Resources.resx";
    Session["ResourceNamespace"] = "Aista.Data.Sqlite.Properties";
    Session["NoDiagnostics"] = true;
    Session["AccessModifier"] = "internal";
#>
<#@ include file="..\..\..\tools\Resources.tt" #>